body{
    max-width: 900px;
    margin: 20px auto;
    color: #333;
}
html {
    overflow-x: hidden;
	overflow-y: scroll;
}
#inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
.input{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}
.num-input{
    position: relative;
    display: flex;
    margin-top: 5px;
}
.num-input input {
    font-family: 'Times New Roman', Times, serif;
    background: none;
    width: 100%;
    font-size: 32px;
    text-align: center;
    z-index: 1;
}
.num-input .btn{
    -moz-user-focus: disabled;
    background: none;
    width: 50%;
    font-family: cursive;
    font-size: 105%;
}
.input input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.input span{
    font-family: '黑体';
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.input span.result-tip{
    position: absolute;
    height: 100%;
    right: 0;
    /* background-color: #000; */
    font-size: 60%;

}
.result-tip span{
    height: 100%;
    display: inline-flex;
    padding: 0 5px;
}

.head {
    position: relative;
}
.input span > span.trade{
    color: #2f7dd5;
    /* border-color: #2f7dd5; */
}
h1{
    margin: 10px;
}
@media screen and (max-width: 900px) {
    #inputs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 650px) {
    #inputs {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 500px) {
    #header{
        flex-direction: column!important;
    }
    #inputs .input {
        font-size: 14px;
        padding: 5px;
    }
    .input input {
        font-size: 24px;
    }
    .num-input{
        margin-top: 2px;
    }
}


#table{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.btnDiv{
    display: flex;
    flex-direction: column;
}
.btnDiv input{
    margin: 0 10px 10px 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
}
.btnDiv textarea{
    visibility: hidden;
    width: 0;
}
#outputDiv{
    margin: 0 0 10px 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    line-height: 1.5;
}
span.tips{
    color: #333;
    display: block;
    margin: 5px 0;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}
span.card{
    color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}
.card .adjust-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    height: 25px;
    width: 25px;
    font-family: cursive;
}
#copyText {
    z-index: -1;
    position: fixed;
    margin-top: -200px;
    margin-left: 50px;
    opacity: 0;
    color: transparent;
    height: 0;
    width: 0;
}
.links{
    position: sticky;
    top: 95%;
}
.links a{
    float: right;
    margin: 10px;
}
#selectMode{
    display: flex;
    margin: 10px;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.btn-check:checked+.btn{
    background-color: #eee;
}
.btn-group .btn{
    padding: 0 12px;
    line-height: 36px;
    transition: 100ms;
}
.btn-group input:first-child+.btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box{
    border: solid 1px #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
.box-group > .box{
    border-radius: 0;
}
.box-group > .box:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.box-group > .box:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box-group > .box:not(:last-child){
    border-right: none;
}

.disable{
    opacity: 0.5;
}