:root{
    --bg-color: #f9f9f9;
    --text-color: #333333;
    --border-style: solid 1px #cccccc;
}
body{
    max-width: 900px;
    margin: 20px auto;
    color: var(--text-color);
}
html {
    overflow-x: hidden;
	overflow-y: scroll;
}
h1{
    margin: 10px;
}
#inputs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    padding: 10px;
}
.input{
    /* padding: 10px; */
    font-size: 16px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.input > *{
    background-color: var(--bg-color);
}
.num-input{
    position: relative;
    display: flex;
    height: 28px;
    color: #555;
    font-size: 80%;
    /* margin-top: 5px; */
}
.plus i, .minus i{
    background-image: url('./images/arrow.svg');
    width: 16px;
    height: 16px;
    display: inline-block;
    transform: scale(0.8);
}
.plus i{
    transform: rotate(180deg)scale(0.8);
}
.minus, .plus{
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    color: #555;
    font-family: cursive;
    font-size: inherit;
    /* justify-content: space-between; */
}
.minus{
    justify-content: left;
}
.plus{
    justify-content: right;
}
.num-input > *{
    color: #555;
    padding: 0 3px;
    border-top: none!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}
.head > *{
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
input.box {
    font-family: 'Times New Roman', Times, serif;
    background: none;
    width: 100%;
    font-size: 32px;
    height: 40px;
    line-height: 32px;;
    text-align: center;
    z-index: 1;
}
.num-input .btn{
    -moz-user-focus: disabled;
    background: none;
    width: 50%;
}
.input input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.input .result-tip{
    position: absolute;
    height: 100%;
    right: 0;
    font-size: 60%;
    padding: 0 2px;
    background-color: transparent;
}
.result-tip span{
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
}
.result-tip span.blue{
    color: #2f7dd5;
}
.result-tip span.yellow{
    color: #f49d39;
}
.result-tip span.red{
    color: #d52f2f;
}
.result-tip span.pink{
    color: #cf39f4;
}
.head {
    display: flex;
    position: relative;
    /* line-height: 16px;
    height: 16px; */
    overflow: hidden;
}
.head img{
    height: 40px;
    width: 40px;
}
@media screen and (max-width: 530px) {
    #inputs {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    #header{
        flex-direction: column!important;
    }
    #inputs .input {
        font-size: 14px!important;
    }
    .input input {
        font-size: 24px;
    }
}
#table{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.btnDiv{
    display: flex;
    flex-direction: column;
}
.btnDiv input{
    display: none;
}
.btnDiv label{
    margin: 0 10px 10px 10px;
    padding: 10px 15px;
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}
.btnDiv label::before{
    content: "";
    height: 16px;
    width: 16px;
    display: block;
}
#copyBtn + label::before{
    background-image: url('./images/copy.svg');
}
#copyBtn:checked + label:not(:active)::before{
    animation: check 500ms;
}
#freshBtn + label::before{
    background-image: url('./images/fresh.svg');
}
#freshBtn:checked + label:not(:active)::before{
    animation: rout 500ms;
}
#setBtn + label::before{
    background-image: url('./images/set.svg');
}
#setBtn:checked + label:not(:active)::before{
    transform: rotateY(180deg)
}
@keyframes check {
    0%{
        background-image: url('./images/check.svg');
    }
    80%{
        background-image: url('./images/check.svg');
    }
}
@keyframes rout {
    100%{
        transform: rotate(360deg);
    }
}
#setBtn{
    background-image: url('./images/set.svg');
}
#outputDiv{
    margin: 0 0 10px 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    line-height: 1.5;
}
span.tips{
    display: block;
    margin: 5px 0;
    border: var(--border-style);
    border-radius: 5px;
    padding: 5px 10px;
}
.card{
    color: #555;
    display: flex;
    justify-content: space-between;
}
.card > *{
    display: flex;
    align-items: center;
}
.card .adjust-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    height: 25px;
    width: 25px;
    font-family: cursive;
    cursor: pointer;
    user-select: none;
}
.card .text{
    padding-left: 10px;
}
.card .power{
    padding-right: 10px;
}
#outputDiv > span.tips > i{
    float: right;
    font-style: normal;
}
#copyText {
    z-index: -1;
    position: fixed;
    margin-top: -200px;
    margin-left: 50px;
    opacity: 0;
    color: transparent;
    height: 0;
    width: 0;
    background-image: url('./images/check.svg');
}
.links a{
    float: right;
    margin: 10px;
    text-decoration: none;
    color: var(--text-color);
}
#selectMode{
    display: flex;
    margin: 10px;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.btn-check:checked+.btn{
    background-color: #eee;
}

.btn-group {
    margin: 10px;
    display: flex;
}
.btn-group .btn{
    padding: 0 12px;
    line-height: 36px;
    transition: 100ms;
}
.btn-group input:first-child+.btn{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box{
    border: var(--border-style);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--bg-color);
}
.box-group > .box{
    border-radius: 0;
}
.box-group > .box:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.box-group > .box:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box-group > .box:not(:last-child){
    border-right: none;
}


.disable,.opacity{
    opacity: 0.2;
}
.small{
    font-size: 60%;
}