:root{
    --bg-color: #f9f9f9;
    --text-color: #333333;
    --border-style: solid 1px #cccccc;
    --six-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    --four-columns: 1fr 1fr 1fr 1fr;
    --tree-columns: 1fr 1fr 1fr;
}
body{
    max-width: 900px;
    margin: 20px auto;
    color: #333;
}
html {
    overflow-x: hidden;
	overflow-y: scroll;
}
#inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
.btn-group{
    margin: 10px;
    display: flex;
}
.btn-group > *{
    padding: 0 12px;
    line-height: 36px;
    font-size: 16px;
    color: #333;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.input{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}
.num-input{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.num-input input {
    font-family: 'Times New Roman', Times, serif;
    background: none;
    width: 100%;
    font-size: 32px;
    text-align: center;
    z-index: 1;
}
.num-input .btn{
    -moz-user-focus: disabled;
    background: none;
    font-family: cursive;
    font-size: 105%;
}
.input input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.result-tip{
    height: 100%;
    display: inline-flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    right: 0;
    font-size: 60%;
}
.head {
    position: relative;
}
h1{
    margin: 10px;
}
@media screen and (max-width: 500px) {
    #header{
        flex-direction: column!important;
    }
    #inputs .input {
        font-size: 14px;
        padding: 5px;
    }
    .input input {
        font-size: 24px;
    }
    .num-input{
        margin-top: 2px;
    }
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.box{
    border: solid 1px #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
.box-group > .box{
    border-radius: 0;
}
.box-group > .box:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.box-group > .box:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box-group > .box:not(:last-child){
    border-right: none;
}


.box-group-T > .box{
    border-radius: 0;
}
.box-group-T > .box:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box-group-T > .box:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.box-group-T > .box:not(:last-child){
    border-bottom: none;
}


.disable{
    opacity: 0.5;
}